.contact-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: var(--primary);
  box-sizing: border-box;
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: var(--accent);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--accent);
}

.alert {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.alert-warning { background: #fff3cd; color: #856404; }
.alert-success { background: #d4edda; color: #155724; }
.alert-error { background: #f8d7da; color: #721c24; }

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--accent);
}

.input-group input,
.input-group textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  background: var(--mint);
  border: none;
  color: var(--primary-dark);
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
  font-size: 18px;
}

.submit-btn:hover {
  background: var(--primary-dark);
  color: var(--accent);
}

.info-block {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.info-block h4 {
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
}

.info-block p {
  color: var(--mint);
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
}

.icons {
  color: var(--accent);
  padding-top: 20px;
}


.hours-box {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.hours-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.titles1 {
  color: var(--accent);
  font-weight: 700;
  font-size: 18px;
}

.hours-box span {
  color: var(--mint);
  font-size: 16px;
  font-weight: 700;
}

.info-note {
  margin-top: 20px;
  font-size: 14px;
  color: var(--mint);
}


@media (max-width: 900px) {

  .contact-container {
    padding: 30px 15px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 30px; 
  }

  .form-row {
    flex-direction: column;
    gap: 15px;
  }

  .input-group input,
  .input-group textarea {
    padding: 14px;
    font-size: 16px;
  }

  .subtitle {
    font-size: 22px;
  }

  .title {
    font-size: 32px;
  }

  .info-block {
    align-items: start;
  }

  .hours-row span {
    font-size: 15px;
  }
}
