/* MAIN NAVBAR */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--primary);
  position: relative;
  z-index: 10;
}

/* LOGO & NAME */
.rightside {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rightside img {
  width: 190px;
  margin-right: 200px;
}

.rightside h2 {
  color: var(--lightgreen);
  margin: 0;
}

.rightside a {
  text-decoration: none;
}

/* DESKTOP MENU */
.leftside ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.leftside ul li a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 25px;
  transition: 0.3s;
  background-color: var(--primary-dark);
  font-weight: bold;
  font-size: 1rem;
}

.leftside ul li a:hover {
  background-color: var(--accent);
  color: var(--mint);
}

/* HAMBURGER BUTTON */
.menu-btn {
  width: 35px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  height: 4px;
  background: var(--accent);
  border-radius: 5px;
  transition: 0.3s;
}

/* ANIMATION FOR OPEN */
.menu-btn span.open:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-btn span.open:nth-child(2) {
  opacity: 0;
}

.menu-btn span.open:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* MOBILE MENU DROPDOWN */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .leftside {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: var(--primary);
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation: slide 0.3s ease;
  }

  .leftside.active {
    display: block;
  }

  .leftside ul {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .leftside ul li  {
    margin-top: 10px;
  }

  .Navbar {
    padding: 12px 20px;
  }

  .rightside img {
    width: 50px;
    height: 60px;
  }

  .rightside h2 {
    font-size: 1.2rem;
  }
}

/* MENU SLIDE DOWN ANIMATION */
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
