.cont-continer-page{
  background-color: var(--primary);
  min-height: 100vh;
  width: 100%;
}

.contact-section {
  padding: 80px 10%;
}

.contact-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--accent) ;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-form, .contact-info {
  flex: 1;
  min-width: 350px;
}

.contact-form h2, .contact-info h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--accent) ;
}

.form-row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group.full {
  width: 100%;
  margin-bottom: 30px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--accent) ;
}

.form-group input,
.form-group textarea {
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid var(--mint); 
  background: transparent; 
  font-size: 1rem;
  width: 100%;
  outline: none;
  color: var(--accent);           
  box-sizing: border-box;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: var(--mint);
}

.form-group input:focus, .form-group textarea:focus {
  border-color: var(--mint);
}

.send-btn {
  background-color: var(--primary-dark);
  color: var(--accent);
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.p1{
  color: var(--mint);
}


.send-btn:hover {
  background-color: var(--mint);
  color: var(--primary-dark) ;
}

.contact-info p {
  margin-bottom: 12px;
  color: var(--mint) ;
  line-height: 1.6;
}

.contact-info i {
  color: var(--accent);
  margin-right: 8px;
}

.business-hours {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  color: var(--mint);
}

.business-hours li {
  margin-bottom: 8px;
  color: var(--mint);
}