@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');




body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
  font-family: "Dela Gothic One";
}

button{
  font-family: 'Roboto', sans-serif;
}

/* ---------- COLORS ---------- */
:root {
  --primary: #205751;
  --primary-light: #205751;
  --primary-dark: #102F2C;

  --accent: #F3AF59;
  --lightgreen: #F3F3F3;
  --mint: #FCE8D3;
  --navy: #1F2347;
  --navy-light: #3F4678;
  --aqua: #A5DEDF;
  --background: #F5F5F5;

  --font-: 'Playfair Display', ;
  --font-sans: 'Inter', sans-;
}


/* ---------- COLOR UTILITIES ---------- */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.text-primary {
  color: var(--primary);
}

.text-primary-light {
  color: var(--primary-light);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.bg-accent {
  background-color: var(--accent);
}

.text-accent {
  color: var(--accent);
}

.bg-lightgreen {
  background-color: var(--lightgreen);
}

.bg-mint {
  background-color: var(--mint);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-navy-light {
  background-color: var(--navy-light);
}

.bg-aqua {
  background-color: var(--aqua);
}

.bg-background {
  background-color: var(--background);
}

/* ---------- CUSTOM BREAKPOINT ---------- */
@media (min-width: 500px) {
  .xs\:text-large {
    font-size: 20px;
  }
}